In [17]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("profiles.csv")

In [23]:
df.set_index("id", inplace=True)

In [27]:
df

,date,title,description,attributes
id,,,,
776380640,Сьогодні о 11:49,Сдам двухкомнатную квартиру сдача,Сдам квартиру ул. Александра Кониского(Володар...,"[<p class=""css-65jx20-TextStyled er34gjf0""><sp..."
776381397,Сьогодні о 11:38,Сдам 2 квартиру на Левобережном-2,Цена аренды 7500 грн возможен торг на месте.\r...,"[<p class=""css-65jx20-TextStyled er34gjf0""><sp..."
772658912,Сьогодні о 11:30,"Сдам большую 1 ком/квартиру в Центре, ул. Княз...","Сдам большую 1 ком/квартиру в Центре, ул. Княз...","[<p class=""css-65jx20-TextStyled er34gjf0""><sp..."
751443895,Сьогодні о 11:23,Сдам 1 комнатную квартиру в начале Правды ( пр...,По данному объекту не сотрудничаю!\r\nСдаётся ...,"[<p class=""css-65jx20-TextStyled er34gjf0""><sp..."